<div class="relative">
  <button class="button button__sm button__transparent-secondary" data-controller="dropdown" data-target="export-dropdown">
    <%= t "actions.export", scope: "decidim.admin" %>
    <%= icon "arrow-down-s-line" %>
    <%= icon "arrow-down-s-line" %>
  </button>

  <ul id="export-dropdown" class="dropdown dropdown__bottom" aria-hidden="true">
    <% %w{CSV JSON Excel}.each do |format| %>
      <li class="dropdown__item">
        <%= link_to export_translation_set_translations_path(set, format: format), class: "dropdown__button", method: :post do %>
          <%= t("decidim.admin.exports.export_as", name: t("decidim.term_customizer.admin.titles.translations"), export_format: format.upcase) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
